/*------------------------ navBar ------------------------*/

h1{
    margin: 0px;
}

.navBar{
display: grid;
background-color: #2D3439;
display:flex;
color:#4C565E;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}

.navBar > img{
width:30px;
}

.navList{
    display: flex;
 list-style: none;
 
}
.navBar__homebutton{
    padding:20px;
    color:white ;
}
li{
    padding: 5px;
    /* font-size: 1.5em; */
}
li:hover{
    color: khaki;
}
a{
    text-decoration: inherit;
}
a:visited{
    color: inherit;
}
.sticky{
    position:fixed;
    width: 100%;
    top:0;
    align-items: flex-end;
     z-index: 2; 
    
}
.push{
    margin-left: auto;
}


.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

@media only screen and (max-width:500px){
    .navBar__homebutton{
        padding:20px;
        color:white ;
        display: none;
        /* font-size: 2rem; */
    }
    .push{
        margin-left: 0px;
        display: none;
    }
    .menu-btn{
      display: flex;
    }
    
}