.services{

    text-align: center;
    padding: 40px;
    color:#2E2815;
}

.services> h1:first-of-type{
    font-size: 3rem;
    color: #928B73;
}
.services__container{
    display: flex;
       justify-content: center;
       flex-wrap: wrap;
    padding:40px;
}


.services__container > div{
    flex-grow: 1;
   text-align: center;
   padding: 30px;
   margin: 20px;
   background-color:#928B73;
   border:5px solid #332F21;
   transition: all 1s;
}

.services__container > div:hover{
transform:scale(1.1);
    
}
.services__container > div> h1{
    color:#2E2815;
    margin-bottom: 30px;
}

.services__container > div>img{
    height: 200px;
    width: 200px;
    margin:auto;
}
