html{
    font-family:  'Alata', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    margin:0px;
    
}

/*------------------------ navBar ------------------------*/

h1{
    margin: 0px;
}

.navBar{
display: grid;
background-color: #161C21;

}
.navList{
    display: flex;
 list-style: none;

}
li{
    padding: 5px;
    font-size: 1.5em;
}
li:hover{
    color: khaki;
}
a{
    text-decoration: inherit;
}
a:visited{
    color: inherit;
}
.sticky{
    position:fixed;
    width: 100%;
    top:0;
    align-items: flex-end;
    z-index: 2;
    
}


/* ------------------------Cover Section------------------------ */

.mainDiv{
    height: 100vh;
    background: url(mainbg.jpg) ; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: rgba(red, green, blue, 0.8); */
    /* font-size: 3em; */
    filter: blur(1px);
  -webkit-filter: blur(5px);
  
}
.mainText{
    will-change: transform, opacity;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.mainText > h1{
    font-size: 5em;
    will-change: transform, opacity;
}

.mainText > p{
    color: khaki;
}

@media only screen and (max-width:500px){

    .mainText > h1{
        font-size: 2rem;
    }
    .mainText > p{
        font-size: 1em;
    }
}

/* ------------------------BIO Section ------------------------*/

.infoSection {
    background-color: #010203;
    /* font-size: 3em; */
    align-items: center;
    margin:auto;
    padding: 200px;

}
.bioDiv{
    display: flex;
    padding:5px;
    margin: auto    
}
.bioDiv >img{
 height: 30vh;
 border-radius: 50%;
 float: left;
 padding: 2px;
 margin-right: 1em;
 /* background-color: #f1f1f1; */
 background-color: khaki;
}

.bioDiv >p{
    font-size: 1em;
}
.sectionHeading{
    /* height: 100vh;
    background-color: #010203; */
    font-size: 3em;
    padding: 10px;
    /* align-items: center;
    margin:auto; */

}


@media only screen and (max-width:500px){


    .bioDiv >img{
        height: 10vh;
        border-radius: 50%;
        float: left;
        padding: 20px;
        margin-right: 1em;
       }
       .bioDiv >p{
        font-size: 1rem;
    }
}

/* ------------------------Contact Section------------------------ */
.contactSection{
    background-color: #161c21;
    height: 100vh;
    background: url(cityscape2.jpg) ; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}
.contactContainer{
    width: 500px;
    display:grid;
    margin: auto;
    padding: 30px;
    background-color:rgba(68, 65, 65, 0.3);
    /* background-color:rgba(240, 230, 140, 0.8); */
    border-radius: 4px;
}
textarea{
    resize: vertical;
}

input{
    border-radius: 4px;
    height: 50px;
}

.fade-in {
    animation: fadeIn ease 3.5s;
    -webkit-animation: fadeIn ease 3.5s;
    -moz-animation: fadeIn ease 3.5s;
    -o-animation: fadeIn ease 3.5s;
    -ms-animation: fadeIn ease 3.5s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
